<h1>A Box for Ideas</h1>

<form id="newIdea">
  <input type="title", placeholder="Title", name="title"><br>
  <textarea name="body", placeholder="body" cols="30" rows="10"></textarea><br>
  <input type="submit" id="createIdea" value="Create Idea"></input>
</form>

<div>
  <ul id="ideaList"></ul>
</div>

