<h1 class="hero">A Box for Your Ideas You May Have For Me</h1>


<form id="newIdea">
  <h4>Hello There. Do You Have an Idea You Want to Tell Me?</h4>
  <input id="title" type="title", placeholder="Title", name="title"><br>
  <textarea id="body" name="body", placeholder="body" cols="50" rows="10"></textarea><br>
  <input type="submit" id="createIdea" value="Save"></input>
</form>
<br>

<div class="search"> 
  <input id="search" placeholder="Search by Title or Body">
</div>

<div class="sort"> 
  <button id="sort">See Your Best Ideas</button>
</div>

<div>
  <ul id="ideaList"></ul>
</div>


